
@{
    ViewBag.Title = "Shop";
}

<h2>Shop</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Obst</h2>
        <p>
            Obst einkaufen...
        </p>
        <p><a class="btn btn-default" href="~/Views/Home/Obst.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gemüse</h2>
        <p>Gemüse einkaufen...</p>
        <p><a class="btn btn-default" href="~/Views/Home/Gemüse.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ekt</h2>
        <p>einkaufen...</p>
        <p><a class="btn btn-default" href="~/Views/Home/ekt.cshtml">Learn more &raquo;</a></p>
    </div>
</div>

